# Logs
logs
*.log
*.log*

node_modules
*.local

/dist/home
/demo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.local
.env
